<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>
<body>
    <nav>
        <div class="nav-title">
            <h1>Dashboard</h1>
        </div>
        <div class="nav-controllers">
            <div class="theme-toggle">
                <i class="fa-solid fa-moon"></i>
                <i class="fa-solid fa-sun"></i>
            </div>
            <div class="nav-notifications">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="nav-profile-pic"></div>
        </div>

    </nav>
    <div class="dashboard-body">
        <div class="dashboard-tasks">
            <div class="curr-task">
                <h4>task heading</h4>
                <button class="task-play-btn" id="toggle-btn">
                    <i class="fas fa-play"></i> <!-- Default to play icon -->
                </button>
                <div class="time-btns">
                    <div class="time-elapsed"><p>Today</p><p>00:57:56</p></div>
                    <div class="time-limit"><p>Limits</p><p>06:00:00</p></div>
                </div>
                
            </div>
            <div class="task-list">
                <div class="task-list-heading">
                    <h4>Today's Tasks</h4>
                    <div class="task-list-head-manage">Manage <i class="fa-solid fa-chevron-right"></i> </div>
                </div>
                <div class="dashboard-tasklist">
                    <div class="db-task">
                        <div class="task-icon"><i class="fas fa-play"></i></div>
                        <div class="task-details">
                            <div class="task-name"><h5>Sample task</h5></div>
                            <div class="task-ref"><a href="">project 1</a></div>
                        </div>
                    </div>
                    <div class="db-task">
                        <div class="task-icon"></div>
                        <div class="task-details">
                            <div class="task-name"><h5>Sample task</h5></div>
                            <div class="task-ref"><a href="">project 1</a></div>
                        </div>
                    </div>
                    <div class="db-task">
                        <div class="task-icon"></div>
                        <div class="task-details">
                            <div class="task-name"><h5>Sample task</h5></div>
                            <div class="task-ref"><a href="">project 1</a></div>
                        </div>
                    </div>
                </div>
             
                
            </div>
            <div class="curr-task">
                <h4>task heading</h4>
                <button class="task-play-btn" id="toggle-btn">
                    <i class="fas fa-play"></i> <!-- Default to play icon -->
                </button>
                <div class="time-btns">
                    <div class="time-elapsed"><p>Today</p><p>00:57:56</p></div>
                    <div class="time-limit"><p>Limits</p><p>06:00:00</p></div>
                </div>
                
            </div>
        </div>
        <div class="dashboard-activity"></div>
    </div>
    <script src="dashboard.js"></script>
</body>
</html>