*{
    background-color: #100f0f;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    border-bottom: .5px solid white ;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.nav-controllers{
    display: flex;
    margin-left: 1rem;
}
.theme-toggle{
    border: .3px solid white;
    border-radius: 10px;
    margin-left: 1rem;
    padding: .5rem;
    margin-right: 1rem;
}
.theme-toggle i{
    margin-left: 5px;
}
.nav-notifications{
    padding:.5rem;
}
i{
    font-size: 1rem;
}
.nav-title{
    margin-left: 2rem;
    padding-top: 7px;
}